<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<head>
	
  	<link href="../css/plugins/dataTables/datatables.min.css" rel="stylesheet">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Morris -->
    <link href="../css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body class="top-navigation  pace-done">

    <div class="row border-bottom">
		<header layout:include="Cabecalho"></header>
  	</div>
   	   	<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Nova Ordem de Serviço</h2>
                    <ol class="breadcrumb">
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
  	</div>
<div class="row">

<div class="col-lg-12">
      <div class="ibox-title">
          <h5>Cadastrar Ordem de Serviço</h5>
      </div>
      <div class="ibox-content" style="display: block;">
		  <form class="form-horizontal" method="POST" th:action="@{/solicitacaoServicos}" th:object="${solicitacaoServico}" enctype="multipart/form-data"> 
				<div layout:include="MensagemGeral"></div>
				<div layout:include="MensagemErro"></div>
			

					<div class="panel panel-default">

					<div class="panel-body">
							
					<input type="hidden" th:field="*{solicitacaoServico_id}" />
			
					<div class="form-row">
							<div class="col-md-4  ">
									<label for="id_marcas" class="control-label">Marca</label>
									<select class="form-control" name="id_marcas" id="id_marcas" th:field="*{carro.id_marca}" th:attr="data-marca=${solicitacaoServico.carro.id_marca}" required  >
									<option th:value="*{carro.id_marca}" th:text="*{carro.marca}"></option></select>
									
							</div>
							
							<div class="col-md-4">	
							<label for="id_modelos" class=" control-label">Modelo</label>
									<select class="form-control" name="id_modelos" id="id_modelos" th:field="*{carro.id_modelo}" th:attr="data-modelo=${solicitacaoServico.carro.id_modelo}" required  >
									<option th:value="*{carro.id_modelo}" th:text="*{carro.modelo}"></option></select>
							</div>
							
							<div class="col-md-4">
								<label for="id_ano" class=" control-label">Ano</label>
									<select class="form-control" name="id_ano" id="id_ano" th:field="*{carro.id_ano}"   th:attr="data-ano=${solicitacaoServico.carro.id_ano}" required  />
									<option th:value="*{carro.id_ano}" th:text="*{carro.ano}"></option></select>
								
							</div>
						
					<!-- 	<div class="form-group  col-md-3">
								<label for="status" class="control-label">Versão</label>	
									<select class="form-control" name="car-model-trims" id="car-model-trims" th:field="*{carro.versao_modelo}" th:attr="data-versao_modelo=${solicitacaoServico.carro.versao_modelo}" ></select>
							</div> -->
							
					</div>
					<div class="form-row">
						<div class="col-md-3" >
						<label for="status" class="control-label">Fabricante do Módulo</label>
	                          <select class="form-control" name="modulo_fabricante"  id="modulo_fabricante"  th:field="*{modulo_fabricante}"   th:attr="modulo_fabricante=${solicitacaoServico.modulo_fabricante}"  th:classappend="${#fields.hasErrors('modulo_fabricante')} ? is-invalid" required >
	                              <option th:value="*{modulo_fabricante}" th:text="*{modulo_fabricante}"></option>
	                              <option value="Bosch">Bosch</option>
	                              <option value="Contintental">Contintental</option>
	                              <option value="Cummins">Cummins</option>
	                              <option value="Delco">Delco</option>
	                              <option value="Delphi">Delphi</option>
	                              <option value="Denso">Denso</option>
	                              <option value="Hella">Hella</option>
	                              <option value="Hitachi">Hitachi</option>
	                              <option value="John Deere">John Deere</option>
	                              <option value="Johnson">Johnson</option>
	                              <option value="Lucas">Lucas</option>
	                              <option value="Marelli">Marelli</option>
	                              <option value="Melco">Melco</option>
	                              <option value="Mitsubishi">Mitsubishi</option>
	                              <option value="Phoenix">Phoenix</option>
	                              <option value="Saab">Saab</option>
	                              <option value="Sagem">Sagem</option>
	                              <option value="Siemens">Siemens</option>
	                              <option value="Transton">Transton</option>
	                              <option value="Temic">Temic</option>
	                              <option value="Trionic">Trionic</option>
	                              <option value="TRW">TRW</option>
	                              <option value="Visteon">Visteon</option>
	                              <option value="Zexel">Zexel</option>
	            			</select>
            			</div>	
            			<div class="col-md-2" >
	            			<label for="tipo_eg" class=" control-label">Tipo E.G</label>
								<input type="text" class="form-control js-currency" id="tipo_eg"
									th:field="*{tipo_eg}"
									th:classappend="${#fields.hasErrors('tipo_eg')} ? is-invalid" placeholder="E.G" required aria-required="true"/>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-2" >
	            			<label for="tipo_eg" class=" control-label">Número do Software</label>
								<input type="text" class="form-control js-currency" id="numero_software"
									th:field="*{numero_software}"
									th:classappend="${#fields.hasErrors('numero_software')} ? is-invalid" placeholder="Número do Software"  required aria-required="true"/>
						</div>
						<div class="col-md-2" >
	            			<label for="tipo_eg" class=" control-label">Número do Hardware</label>
								<input type="text" class="form-control js-currency" id="numero_hardware"
									th:field="*{numero_hardware}"
									th:classappend="${#fields.hasErrors('numero_hardware')} ? is-invalid" placeholder="Número do Hardware"  required aria-required="true"/>
						</div>
						<div class="col-md-2 " >
	            			<label for="tipo_eg" class=" control-label">Número da Atualização</label>
								<input type="text" class="form-control js-currency" id="numero_update"
									th:field="*{numero_update}"
									th:classappend="${#fields.hasErrors('numero_update')} ? is-invalid" placeholder="Número da Atualização"   required aria-required="true"/>
						</div>
            			
            		</div>
          	   		<div class="form-row">
				 		<div class="col-md-12">
							<label	for="descricao" class="control-label">Descrição das alterações desejadas.</label>
							<textarea  class="form-control" id="descricao" rows= "3" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"   required aria-required="true"/></textarea>
						</div>
					</div>		
					<div class="form-row">
					<div class="d-none d-print-block"  id="bolAdministrator">
							<!-- class="d-none d-print-block" -->
						<div>
										<!-- <label for="dataProcessamento" class="control-label">Prazo para Processamento</label> -->
									
										<input type="hidden" class="form-control" id="dataProcessamento"
											th:field="*{dataProcessamento}" data-provide="datepicker"
											data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
											data-date-autoclose="true" data-date-today-highlight="true"
											data-date-orientation="bottom"
											th:classappend="${#fields.hasErrors('dataProcessamento')} ? is-invalid" disabled/>
						</div>
					</div>
						
					
					</div>
								<div>
									<input type="hidden" class="form-control js-currency" id="valor" th:field="*{valor}"	th:classappend="${#fields.hasErrors('valor')} ? is-invalid" disabled />
									<input type="hidden" class="form-control" name="status" id="status" th:field="*{status}" >
								
									<input type="hidden" class="form-control" name="marcas" id="marcas" th:field="*{carro.marca}" >
							
									<input type="hidden" class="form-control" name="modelos" id="modelos" th:field="*{carro.modelo}" >
							
									<input type="hidden" class="form-control" name="ano" id="ano" th:field="*{carro.ano}"   >
								</div>
								
							
					
								<div class="form-group">
								<div class="col-md-4">
									<label for="file" class=" control-label">Arquivo a ser Mapeado</label>
									<input type="file" class="form-control" id="file_upload" name="file_upload"   aria-required="true" />
									</div>
								</div>
								<div class="col-md-4">
									
								</div>
								

							<div class="form-row">
								<div class="form-group">
									<div class="col-md-12" aling="right">
									<div class="text-right"> 
										<button type="submit" class="btn btn-primary">Salvar</button>
									</div>	
									</div>
								</div>
							</div>
							
							
					
						</div>		
					</div>
			</form>
			
				</div>
				</div>
					 <div class="panel-footer">
			            <div class="pull-right">
			               @Tuning <strong>Para seu carro</strong> .
			            </div>
			            <div>
			                <strong>Copyright</strong> A.S MotorSport &copy; 2018
			            </div>
				</div>
		</div>		
		
			
		





</body>


<!-- <script type="text/javascript"> 
console.log("oi");
var carroAno = $('#car-years').data('ano');
var carroMarca = $('#car-makes').data('marca');
var carroModelo = $('#car-models').data('modelo');
var carroVersaoModelo = $('#car-model-trims').data('versao_modelo');
carquery.init(carroAno, carroMarca, carroModelo, carroVersaoModelo);
console.log(carroAno);
console.log(carroMarca);
console.log(carroModelo);
console.log(carroVersaoModelo);
</script> -->
 <!-- Mainly scripts -->
    <script src="../js/jquery-2.1.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="../js/plugins/flot/jquery.flot.js"></script>
    <script src="../js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="../js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="../js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="../js/plugins/flot/curvedLines.js"></script>

    <!-- Peity -->
    <script src="../js/plugins/peity/jquery.peity.min.js"></script>
    <script src="../js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../js/inspinia.js"></script>
    <script src="../js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="../js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Jvectormap -->
    <script src="../js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- Sparkline -->
    <script src="../js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="../js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="../js/plugins/chartJs/Chart.min.js"></script>



<script type="text/javascript" >
$(document).ready(function() {
    var urlBase = "//fipeapi.appspot.com/api/1/carros/marcas.json";
    var urlBaseVeiculo = "//fipeapi.appspot.com/api/1/carros/veiculos";
    var urlBaseAno= "//fipeapi.appspot.com/api/1/carros/veiculo"

    /** Marcas**/

   
    $.getJSON(urlBase, function(data) {
   
   	
  	  if(jQuery("#id_marcas").val() > 0){
  		items += ("<option value='" + jQuery("#id_marcas").val() + "'>" + jQuery("#marcas").val() + "</option>");
  	  }
      else{
    	  var items = ["<option value=\"\">ESCOLHA UMA MARCA</option>"];
      } 		

      $.each(data, function(key, val) {
        items += ("<option value='" + val.id + "'>" + val.name + "</option>");
      });
      
   
    	  
      
      $("#id_marcas").html(items);
    });

    /** Veiculo**/

    $("#id_marcas").change(function() {
    	$("#marcas").val(jQuery("#id_marcas option:selected").text());
    	
      $.getJSON(urlBaseVeiculo + "/" + jQuery("#id_marcas").val() + ".json", function(data) {
        var items = ["<option value=\"\">ESCOLHA UM VEICULO</option>"];
        console.log(data);
        $.each(data, function(key, val) {
          items += ("<option value='" + val.id + "'>" + val.name + "</option>");
        });
        $("#id_modelos").html(items);
      });
    });

    /** Ano**/

    $("#id_modelos").change(function() {
    	$("#modelos").val(jQuery("#id_modelos option:selected").text());
    	
    	 $.getJSON(urlBaseAno + "/" + jQuery("#id_marcas").val() + "/" + jQuery("#id_modelos").val() + ".json", function(data) {
        var items = ["<option value=\"\">ESCOLHA O ANO</option>"];
        $.each(data, function(key, val) {
          console.log(data)
          items += ("<option value='" + val.id + "'>" + val.name + "</option>");
        });
        $("#id_ano").html(items);
      });
    });
    $("#id_ano").change(function() {
    	$("#ano").val(jQuery("#id_ano option:selected").text());
    });	
    
  });

</script>

    <!-- Jquery Validate -->
    <script src="../js/plugins/validate/jquery.validate.min.js"></script>

    <script>
         $(document).ready(function(){

             $("#form").validate({
                 rules: {
                     password: {
                         required: true,
                         minlength: 3
                     },
                     url: {
                         required: true,
                         url: true
                     },
                     number: {
                         required: true,
                         number: true
                     },
                     min: {
                         required: true,
                         minlength: 6
                     },
                     max: {
                         required: true,
                         maxlength: 4
                     }
                 }
             });
        });
    </script>
</html>