<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<head>

<link href="../../css/plugins/dataTables/datatables.min.css"
	rel="stylesheet">
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Morris -->
<link href="../../css/plugins/morris/morris-0.4.3.min.css"
	rel="stylesheet">

<link href="../../css/animate.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">


<link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">

<link href="../../css/plugins/chosen/bootstrap-chosen.css"
	rel="stylesheet">

<link
	href="../../css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css"
	rel="stylesheet">

<link href="../../css/plugins/colorpicker/bootstrap-colorpicker.min.css"
	rel="stylesheet">

<link href="../../css/plugins/cropper/cropper.min.css" rel="stylesheet">

<link href="../../css/plugins/switchery/switchery.css" rel="stylesheet">

<link href="../../css/plugins/jasny/jasny-bootstrap.min.css"
	rel="stylesheet">

<link href="../../css/plugins/nouslider/jquery.nouislider.css"
	rel="stylesheet">

<link href="../../css/plugins/datapicker/datepicker3.css"
	rel="stylesheet">

<link href="../../css/plugins/ionRangeSlider/ion.rangeSlider.css"
	rel="stylesheet">
<link
	href="../../css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css"
	rel="stylesheet">

<link
	href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
	rel="stylesheet">

<link href="../../css/plugins/clockpicker/clockpicker.css"
	rel="stylesheet">

<link href="../../css/plugins/daterangepicker/daterangepicker-bs3.css"
	rel="stylesheet">

<link href="../../css/plugins/select2/select2.min.css" rel="stylesheet">

<link
	href="../../css/plugins/touchspin/jquery.bootstrap-touchspin.min.css"
	rel="stylesheet">

<link href="../../css/plugins/dualListbox/bootstrap-duallistbox.min.css"
	rel="stylesheet">

<link href="../../css/animate.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">



</head>

<body class="top-navigation  pace-done">

	<div class="row border-bottom">
		<header layout:include="Cabecalho"></header>
	</div>
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Enviar arquivo processado ao cliente</h2>
			<ol class="breadcrumb">
			</ol>
		</div>
		<div class="col-lg-2"></div>
	</div>
	<div class="row">

		<div class="col-lg-12">
			<div class="ibox-title">
				<h5>Informações da Solicitação de Serviço</h5>
			</div>
			<div class="ibox-content" style="display: block;">
				<form class="form-horizontal" method="POST"
					th:action="@{/solicitacaoServicos/salvarArquivoResposta}"
					th:object="${solicitacaoServico}" enctype="multipart/form-data">
					<div layout:include="MensagemGeral"></div>
					<div layout:include="MensagemErro"></div>

					<div class="panel panel-default">
						<div class="panel-heading">Informações do cliente</div>
						<div class="panel-body">
							<div class="form-row">
								<div class="col-md-4  ">
									<label for="id_marcas" class="control-label">Nome do cliente:</label>
									<h5>
										<span th:text="*{user.nomeCompleto}"></span>
									</h5>
								</div>
								
								<div class="col-md-4  ">
									<label for="id_marcas" class="control-label">E-mail do cliente:</label>
									<h5>
										<span th:text="*{user.email}"></span>
									</h5>
								</div>
								
								<div class="col-md-4  ">
									<label for="id_marcas" class="control-label">Telefone do cliente:</label>
									<h5>
										<span th:text="*{user.perfil.telefone}"></span>
									</h5>
								</div>
							</div>


						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading">Informações sobre veículo</div>
						<div class="panel-body">

							<input type="hidden" th:field="*{solicitacaoServico_id}" />

							<div class="form-row">
								<div class="col-md-4  ">
									<label for="id_marcas" class="control-label">Marca:</label>
									<h5>
										<span th:text="*{carro.marca}"></span>
									</h5>
								</div>

								<div class="col-md-4">
									<label for="id_modelos" class=" control-label">Modelo:</label>
									<h5>
										<span th:text="*{carro.modelo}"></span>
									</h5>
								</div>

								<div class="col-md-4">
									<label for="id_ano" class=" control-label">Ano:</label>
									<h5>
										<span th:text="*{carro.ano}"></span>
									</h5>
								</div>


								<div class="col-md-3">
									<label for="status" class="control-label">Fabricante do
										Módulo:</label>
									<h5>
										<span th:text="*{modulo_fabricante}"></span>
									</h5>

								</div>
								<div class="col-md-2">
									<label for="tipo_eg" class=" control-label">Tipo E.G:</label>
									<h5>
										<span th:text="*{tipo_eg}"></span>
									</h5>

								</div>

								<div class="col-md-2">
									<label for="tipo_eg" class=" control-label">Número do
										Software:</label>
									<h5>
										<span th:text="*{tipo_eg}"></span>
									</h5>

								</div>
								<div class="col-md-2">
									<label for="tipo_eg" class=" control-label">Número do
										Hardware:</label>
									<h5>
										<span th:text="*{numero_hardware}"></span>
									</h5>
								</div>
								<div class="col-md-2 ">
									<label for="tipo_eg" class=" control-label">Número da
										Atualização:</label>
									<h5>
										<span th:text="*{numero_hardware}"></span>
									</h5>

								</div>
							</div>
						</div>
						</div>
							<div class="panel panel-default">
								<div class="panel-heading">Informações sobre o
									processamento do arquivo</div>
								<div class="panel-body">

									<div class="col-md-4">


									
											 
												<input type="hidden"
												class="form-control" id="dataProcessamento"
												th:field="*{dataProcessamento}" data-provide="datepicker"
												data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
												data-date-autoclose="true" data-date-today-highlight="true"
												data-date-orientation="bottom"
												th:classappend="${#fields.hasErrors('dataProcessamento')} ? is-invalid" />
										

										<label for="valor" class="control-label">Valor</label> <input
											type="text" class="form-control js-currency" id="valor"
											th:field="*{valor}"
											th:classappend="${#fields.hasErrors('valor')} ? is-invalid" 
											/>
											<span class="help-block">R$100,00</span>

										<label for="status" class="control-label">Status</label> <select
											class="form-control" name="status" th:field="*{status}">
											<option th:each="status : ${todosStatusSolicitacaoServico}"
												th:value="${status}" th:text="${status.descricao}"></option>
										</select> <label for="file" class=" control-label">Arquivo
											Processado</label> <input type="file" class="form-control"
											id="file_upload" name="file_upload" />

									</div>

									<div class="col-md-8">

										<label for="descricao" class="control-label">Resposta
											ao cliente sobre as alterações feitas:</label>
										<textarea class="form-control" id="descricao" rows="3"
											th:field="*{descricao}"
											th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" /></textarea>
									</div>
									<div class="col-md-12">
										<div class="col-md-12" aling="right">
											<div class="text-right">
												<button type="submit" class="btn btn-primary">Salvar</button>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<a class="btn btn-primary" href="/solicitacaoServicos">Voltar</a>
									</div>
								</div>

							</div>

			</form>
		</div>

		<div class="panel-footer">
			<div class="pull-right">
				@Tuning <strong>Para seu carro</strong> .
			</div>
			<div>
				<strong>Copyright</strong> A.S MotorSport &copy; 2018
			</div>
		</div>
</body>


<!-- <script type="text/javascript"> 
console.log("oi");
var carroAno = $('#car-years').data('ano');
var carroMarca = $('#car-makes').data('marca');
var carroModelo = $('#car-models').data('modelo');
var carroVersaoModelo = $('#car-model-trims').data('versao_modelo');
carquery.init(carroAno, carroMarca, carroModelo, carroVersaoModelo);
console.log(carroAno);
console.log(carroMarca);
console.log(carroModelo);
console.log(carroVersaoModelo);
</script> -->
<!-- Mainly scripts -->
<!-- Chosen -->
<script src="../../js/plugins/chosen/chosen.jquery.js"></script>
<script src="../../js/jquery-2.1.1.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="../../js/plugins/flot/jquery.flot.js"></script>
<script src="../../js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="../../js/plugins/flot/jquery.flot.spline.js"></script>
<script src="../../js/plugins/flot/jquery.flot.resize.js"></script>
<script src="../../js/plugins/flot/jquery.flot.pie.js"></script>
<script src="../../js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="../../js/plugins/flot/curvedLines.js"></script>

<!-- Peity -->
<script src="../../js/plugins/peity/jquery.peity.min.js"></script>
<script src="../../js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="../../js/inspinia.js"></script>
<script src="../../js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="../../js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Jvectormap -->
<script src="../../js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script
	src="../../js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Sparkline -->
<script src="../../js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="../../js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="../../js/plugins/chartJs/Chart.min.js"></script>

<!-- Date range use moment.js same as full calendar plugin -->
<script src="../../js/plugins/fullcalendar/moment.min.js"></script>


<!-- Chosen -->
<script src="../../js/plugins/chosen/chosen.jquery.js"></script>

<!-- JSKnob -->
<script src="../../js/plugins/jsKnob/jquery.knob.js"></script>

<!-- Input Mask-->
<script src="../../js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data picker -->
<script src="../../js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!--    <!-- NouSlider -->
<script src="../../js/plugins/nouslider/jquery.nouislider.min.js"></script>


<script src="../../js/plugins/switchery/switchery.js"></script>


<script src="../../js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>


<script src="../../js/plugins/iCheck/icheck.min.js"></script>


<script src="../../js/plugins/metisMenu/jquery.metisMenu.js"></script>


<script src="../../js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>


<script src="../../js/plugins/clockpicker/clockpicker.js"></script>


<script src="../../js/plugins/cropper/cropper.min.js"></script>


<script src="../../js/plugins/fullcalendar/moment.min.js"></script>
-->

<!-- Date range picker -->
<script src="../../js/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="../../js/plugins/select2/select2.full.min.js"></script>

<!-- TouchSpin -->
<script
	src="../../js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

<!-- Tags Input -->
<script
	src="../../js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

<!-- Dual Listbox -->
<script
	src="../../js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
<script type="text/javascript">
	$(document)
			.ready(
					function() {
						var urlBase = "//fipeapi.appspot.com/api/1/carros/marcas.json";
						var urlBaseVeiculo = "//fipeapi.appspot.com/api/1/carros/veiculos";
						var urlBaseAno = "//fipeapi.appspot.com/api/1/carros/veiculo"

						/** Marcas**/

						$
								.getJSON(
										urlBase,
										function(data) {

											if (jQuery("#id_marcas").val() > 0) {
												items += ("<option value='"
														+ jQuery("#id_marcas")
																.val()
														+ "'>"
														+ jQuery("#marcas")
																.val() + "</option>");
											} else {
												var items = [ "<option value=\"\">ESCOLHA UMA MARCA</option>" ];
											}

											$
													.each(
															data,
															function(key, val) {
																items += ("<option value='" + val.id + "'>"
																		+ val.name + "</option>");
															});

											$("#id_marcas").html(items);
										});

						/** Veiculo**/

						$("#id_marcas")
								.change(
										function() {
											$("#marcas")
													.val(
															jQuery(
																	"#id_marcas option:selected")
																	.text());

											$
													.getJSON(
															urlBaseVeiculo
																	+ "/"
																	+ jQuery(
																			"#id_marcas")
																			.val()
																	+ ".json",
															function(data) {
																var items = [ "<option value=\"\">ESCOLHA UM VEICULO</option>" ];
																console
																		.log(data);
																$
																		.each(
																				data,
																				function(
																						key,
																						val) {
																					items += ("<option value='" + val.id + "'>"
																							+ val.name + "</option>");
																				});
																$("#id_modelos")
																		.html(
																				items);
															});
										});

						/** Ano**/

						$("#id_modelos")
								.change(
										function() {
											$("#modelos")
													.val(
															jQuery(
																	"#id_modelos option:selected")
																	.text());

											$
													.getJSON(
															urlBaseAno
																	+ "/"
																	+ jQuery(
																			"#id_marcas")
																			.val()
																	+ "/"
																	+ jQuery(
																			"#id_modelos")
																			.val()
																	+ ".json",
															function(data) {
																var items = [ "<option value=\"\">ESCOLHA O ANO</option>" ];
																$
																		.each(
																				data,
																				function(
																						key,
																						val) {
																					console
																							.log(data)
																					items += ("<option value='" + val.id + "'>"
																							+ val.name + "</option>");
																				});
																$("#id_ano")
																		.html(
																				items);
															});
										});
						$("#id_ano").change(
								function() {
									$("#ano").val(
											jQuery("#id_ano option:selected")
													.text());
								});

					});
</script>


<script>
	$(document)
			.ready(
					function() {

						$('.tagsinput').tagsinput({
							tagClass : 'label label-primary'
						});

						var $image = $(".image-crop > img")
						$($image).cropper({
							aspectRatio : 1.618,
							preview : ".img-preview",
							done : function(data) {
								// Output the result data for cropping image.
							}
						});

						var $inputImage = $("#inputImage");
						if (window.FileReader) {
							$inputImage
									.change(function() {
										var fileReader = new FileReader(), files = this.files, file;

										if (!files.length) {
											return;
										}

										file = files[0];

										if (/^image\/\w+$/.test(file.type)) {
											fileReader.readAsDataURL(file);
											fileReader.onload = function() {
												$inputImage.val("");
												$image.cropper("reset", true)
														.cropper("replace",
																this.result);
											};
										} else {
											showMessage("Please choose an image file.");
										}
									});
						} else {
							$inputImage.addClass("hide");
						}

						$("#download").click(function() {
							window.open($image.cropper("getDataURL"));
						});

						$("#zoomIn").click(function() {
							$image.cropper("zoom", 0.1);
						});

						$("#zoomOut").click(function() {
							$image.cropper("zoom", -0.1);
						});

						$("#rotateLeft").click(function() {
							$image.cropper("rotate", 45);
						});

						$("#rotateRight").click(function() {
							$image.cropper("rotate", -45);
						});

						$("#setDrag").click(function() {
							$image.cropper("setDragMode", "crop");
						});

						$('#data_1 .input-group.date').datepicker({
							todayBtn : "linked",
							keyboardNavigation : false,
							forceParse : false,
							calendarWeeks : true,
							autoclose : true
						});

						$('#data_2 .input-group.date').datepicker({
							startView : 1,
							todayBtn : "linked",
							keyboardNavigation : false,
							forceParse : false,
							autoclose : true,
							format : "dd/mm/yyyy"
						});

						$('#data_3 .input-group.date').datepicker({
							startView : 2,
							todayBtn : "linked",
							keyboardNavigation : false,
							forceParse : false,
							autoclose : true
						});

						$('#data_4 .input-group.date').datepicker({
							minViewMode : 1,
							keyboardNavigation : false,
							forceParse : false,
							autoclose : true,
							todayHighlight : true
						});

						$('#data_5 .input-daterange').datepicker({
							keyboardNavigation : false,
							forceParse : false,
							autoclose : true
						});

						var elem = document.querySelector('.js-switch');
						var switchery = new Switchery(elem, {
							color : '#1AB394'
						});

						var elem_2 = document.querySelector('.js-switch_2');
						var switchery_2 = new Switchery(elem_2, {
							color : '#ED5565'
						});

						var elem_3 = document.querySelector('.js-switch_3');
						var switchery_3 = new Switchery(elem_3, {
							color : '#1AB394'
						});

						$('.i-checks').iCheck({
							checkboxClass : 'icheckbox_square-green',
							radioClass : 'iradio_square-green'
						});

						$('.demo1').colorpicker();

						var divStyle = $('.back-change')[0].style;
						$('#demo_apidemo').colorpicker({
							color : divStyle.backgroundColor
						}).on('changeColor', function(ev) {
							divStyle.backgroundColor = ev.color.toHex();
						});

						$('.clockpicker').clockpicker();

						$('input[name="daterange"]').daterangepicker();

						$('#reportrange span').html(
								moment().subtract(29, 'days').format(
										'MMMM D, YYYY')
										+ ' - '
										+ moment().format('MMMM D, YYYY'));

						$('#reportrange')
								.daterangepicker(
										{
											format : 'MM/DD/YYYY',
											startDate : moment().subtract(29,
													'days'),
											endDate : moment(),
											minDate : '01/01/2012',
											maxDate : '12/31/2015',
											dateLimit : {
												days : 60
											},
											showDropdowns : true,
											showWeekNumbers : true,
											timePicker : false,
											timePickerIncrement : 1,
											timePicker12Hour : true,
											ranges : {
												'Today' : [ moment(), moment() ],
												'Yesterday' : [
														moment().subtract(1,
																'days'),
														moment().subtract(1,
																'days') ],
												'Last 7 Days' : [
														moment().subtract(6,
																'days'),
														moment() ],
												'Last 30 Days' : [
														moment().subtract(29,
																'days'),
														moment() ],
												'This Month' : [
														moment().startOf(
																'month'),
														moment().endOf('month') ],
												'Last Month' : [
														moment()
																.subtract(1,
																		'month')
																.startOf(
																		'month'),
														moment().subtract(1,
																'month').endOf(
																'month') ]
											},
											opens : 'right',
											drops : 'down',
											buttonClasses : [ 'btn', 'btn-sm' ],
											applyClass : 'btn-primary',
											cancelClass : 'btn-default',
											separator : ' to ',
											locale : {
												applyLabel : 'Submit',
												cancelLabel : 'Cancel',
												fromLabel : 'From',
												toLabel : 'To',
												customRangeLabel : 'Custom',
												daysOfWeek : [ 'Do', 'Se',
														'Ter', 'Qua', 'Qui',
														'Sex', 'Sáb' ],
												monthNames : [ 'Janeiro',
														'Fevereiro', 'Março',
														'Abril', 'Maio',
														'Junho', 'Julio',
														'Agosto', 'Setembro',
														'Outubro', 'Novembro',
														'Dezembro' ],
												firstDay : 1
											}
										},
										function(start, end, label) {
											console.log(start.toISOString(),
													end.toISOString(), label);
											$('#reportrange span')
													.html(
															start
																	.format('MMMM D, YYYY')
																	+ ' - '
																	+ end
																			.format('MMMM D, YYYY'));
										});

						$(".select2_demo_1").select2();
						$(".select2_demo_2").select2();
						$(".select2_demo_3").select2({
							placeholder : "Select a state",
							allowClear : true
						});

						$(".touchspin1").TouchSpin({
							buttondown_class : 'btn btn-white',
							buttonup_class : 'btn btn-white'
						});

						$(".touchspin2").TouchSpin({
							min : 0,
							max : 100,
							step : 0.1,
							decimals : 2,
							boostat : 5,
							maxboostedstep : 10,
							postfix : '%',
							buttondown_class : 'btn btn-white',
							buttonup_class : 'btn btn-white'
						});

						$(".touchspin3").TouchSpin({
							verticalbuttons : true,
							buttondown_class : 'btn btn-white',
							buttonup_class : 'btn btn-white'
						});

						$('.dual_select').bootstrapDualListbox({
							selectorMinimalHeight : 160
						});

					});

	$('.chosen-select').chosen({
		width : "100%"
	});

	$("#ionrange_1").ionRangeSlider({
		min : 0,
		max : 5000,
		type : 'double',
		prefix : "$",
		maxPostfix : "+",
		prettify : false,
		hasGrid : true
	});

	$("#ionrange_2").ionRangeSlider({
		min : 0,
		max : 10,
		type : 'single',
		step : 0.1,
		postfix : " carats",
		prettify : false,
		hasGrid : true
	});

	$("#ionrange_3").ionRangeSlider({
		min : -50,
		max : 50,
		from : 0,
		postfix : "°",
		prettify : false,
		hasGrid : true
	});

	$("#ionrange_4").ionRangeSlider(
			{
				values : [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio",
						"Junho", "Julio", "Agosto", "Setembro", "Outubro",
						"Novembro", "Dezembro" ],
				type : 'single',
				hasGrid : true
			});

	$("#ionrange_5").ionRangeSlider({
		min : 10000,
		max : 100000,
		step : 100,
		postfix : " km",
		from : 55000,
		hideMinMax : true,
		hideFromTo : false
	});

	$(".dial").knob();

	var basic_slider = document.getElementById('basic_slider');

	noUiSlider.create(basic_slider, {
		start : 40,
		behaviour : 'tap',
		connect : 'upper',
		range : {
			'min' : 20,
			'max' : 80
		}
	});

	var range_slider = document.getElementById('range_slider');

	noUiSlider.create(range_slider, {
		start : [ 40, 60 ],
		behaviour : 'drag',
		connect : true,
		range : {
			'min' : 20,
			'max' : 80
		}
	});

	var drag_fixed = document.getElementById('drag-fixed');

	noUiSlider.create(drag_fixed, {
		start : [ 40, 60 ],
		behaviour : 'drag-fixed',
		connect : true,
		range : {
			'min' : 20,
			'max' : 80
		}
	});
</script>
</html>