<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<head>

<link href="../../css/plugins/dataTables/datatables.min.css"
	rel="stylesheet">
<link href="../../css/bootstrap.min.css" rel="stylesheet">


<link href="../../font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Morris -->
<link href="../../css/plugins/morris/morris-0.4.3.min.css"
	rel="stylesheet">


  <!-- Sweet Alert -->
    <link href="../../css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<link href="../../css/animate.css" rel="stylesheet">
<link href="../../css/style.css" rel="stylesheet">
<script
	src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
</head>

<body class="top-navigation  pace-done">

		<div class="row border-bottom">
			<header layout:include="DialogoConfirmacaoExclusao"></header>
		</div>


	<form class="form-horizontal" method="POST"
		th:action="@{/solicitacaoServicos}" th:object="${solicitacaoServico}"
		enctype="multipart/form-data">




		<div class="row border-bottom">
			<header layout:include="Cabecalho"></header>
		</div>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2>
					Ordem de serviço Nº <span th:text="*{solicitacaoServico_id}"></span>
				</h2>

				<ol class="breadcrumb">
				</ol>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">

			<div class="col-lg-12">

				<div class="ibox-title">
					<h5>Cadastrar Ordem de Serviço</h5>
				</div>
				<div class="ibox-content" style="display: block;">
					<div class="mail-tools tooltip-demo m-t-md">
						<div class="btn-group pull-right">
							<button class="btn btn-white btn-sm">
								<i class="fa fa-arrow-left"></i>
							</button>
							<button class="btn btn-white btn-sm">
								<i class="fa fa-arrow-right"></i>
							</button>

						</div>
						<div th:if="${solicitacaoServico.dataProcessamento == null}">
						<a class="btn btn-white btn-sm" data-toggle="tooltip"
							data-placement="top" title="" data-original-title="Editar Perfíl"
							th:href="@{/solicitacaoServicos/{solicitacaoServico}(solicitacaoServico=${solicitacaoServico.solicitacaoServico_id})}"><i
							class="fa fa-pencil"></i> </a>
						<button class="btn btn-white btn-sm" data-toggle="tooltip"
							data-placement="top" title="" data-original-title="Mark as read">
							<i class="fa fa-eye"></i>
						</button>
						<button class="btn btn-white btn-sm" data-toggle="tooltip"
							data-placement="top" title=""
							data-original-title="Mark as important">
							<i class="fa fa-exclamation"></i>
						</button>
						
						<button class="btn btn-white btn-sm" data-toggle="modal"
							data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${solicitacaoServico_id}, data-descricao=${descricao}"
							data-placement="top" title="" data-original-title="Move to trash">
							<i class="fa fa-trash-o"></i>
						</button>
						</div>
					</div>



					<div class="panel panel-default">

						<div class="panel-body">

							<input type="hidden" th:field="*{solicitacaoServico_id}"
								id="solicitacaoServico_id" />

							<div class="row">

								<div class="col-lg-3">
									<dl class="dl-horizontal">
										<h5>Dados do Veículo</h5>
										<dt>Marca:</dt>
										<dd>
											<span th:text="*{carro.marca}"></span>
										</dd>
										<dt>Modelo:</dt>
										<dd>
											<span th:text="*{carro.modelo}"></span>
										</dd>
										<dt>Ano:</dt>
										<dd>
											<span th:text="*{carro.ano}"></span>
										</dd>
										<dt>Fabricante do Módulo:</dt>
										<dd>
											<span th:text="${solicitacaoServico.modulo_fabricante}"></span>
										</dd>
										<dt>Tipo E.G:</dt>
										<dd>
											<span th:text="*{tipo_eg}"></span>
										</dd>
										<dt>Número do Software:</dt>
										<dd>
											<span th:text="*{numero_software}"></span>
										</dd>
										<dt>Número do Hardware:</dt>
										<dd>
											<span th:text="*{numero_hardware}"></span>
										</dd>
										<dt>Número da Atualização:</dt>
										<dd>
											<span th:text="*{numero_update}"></span>
										</dd>
									</dl>
								</div>
								<div class="col-lg-4" id="cluster_info">
									<dl class="dl-horizontal">
										<h5>Solicitação de Serviço</h5>
										<dt>Status:</dt>
										<dd>
											<span th:text="*{status.descricao}"></span>
										</dd>
										<dt>Data de Processamento:</dt>
										<dd>
											<span th:text="*{dataProcessamento}"></span>
										</dd>
										<dt>Valor:</dt>
										<dd>
											<span th:text="*{valor}"></span>
										</dd>
										<dt>Descrição:</dt>
										<p>
										<dd>
											<textarea class="form-control" id="descricao" rows="3"
												th:field="*{descricao}"
												th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"
												disabled />

										</dd>

									</dl>

								</div>

							</div>
							
							
								<div th:if="${solicitacaoServico.AguardandoPagamento}" class="hide">
								<button type="button" class="btn btn-primary" data-toggle="modal"
									data-target="#myModal2"
									th:classappend="${solicitacaoServico.AguardandoPagamento ?  'btn btn-primary' :'btn btn-primary disabled'}">Efetuar	Pagamento</button>
								</div>
								
								<div th:if="${solicitacaoServico.AguardandoPagamento}" class="hide" >
								<button type="button" class="btn btn-primary" data-toggle="modal"
									id="pagarPayPal"
									th:classappend="${solicitacaoServico.AguardandoPagamento ?  'btn btn-primary' :'btn btn-primary disabled'}">Pagar com PayPal</button>
									
								</div>
								<div id="paypal-button" th:classappend="${solicitacaoServico.AguardandoPagamento ?  '' :'hide'}"></div>
					<hr>
								
								
							<div th:if="${solicitacaoServico.dataProcessamento != null}">
							
							<div th:classappend="${solicitacaoServico.ArquivoLiberado ?  'panel panel-primary' :'panel panel-warning'}">
								<div class="panel-heading">Arquivo processado com as alterações desejadas</div>
								<div class="panel-body">
								<div class="col-lg-9 animated fadeInRight">
									<div class="row">
										<div class="col-lg-12">
											<div class="file-box">
												<div class="file">
													<a
														th:href="@{/solicitacaoServicos/downloadResposta/?solicitacaoServico_id={solicitacaoServico_id}(solicitacaoServico_id=${solicitacaoServico.solicitacaoServico_id})}"
														th:classappend="${solicitacaoServico.ArquivoLiberado ?  '' :'btn btn-primary disabled'}">
														<span class="corner"></span>

														<div class="icon">
															<i class="fa fa-file"></i>
														</div>
														<div class="file-name">
															<span
																th:text="${solicitacaoServico?.file_resposta?.file_name}"></span>
															<br /> <small
																th:text="${{solicitacaoServico?.dataProcessamento}}"></small>
														</div>
													</a>
												</div>

											</div>


										</div>
									</div>
								</div>
								</div>
								</div>
							</div>

						</div>
						<div>
							<input type="hidden" class="form-control" name="marcas"
								id="marcas" th:field="*{carro.marca}"> <input
								type="hidden" class="form-control" name="modelos" id="modelos"
								th:field="*{carro.modelo}"> <input type="hidden"
								class="form-control" name="ano" id="ano" th:field="*{carro.ano}">
							<input type="hidden" class="form-control" name="valor" id="valor"
								th:field="*{valor}">
						</div>


					</div>
					<div class="form-row">
						<div class="form-group">
							<div class="col-md-12" aling="right">
								<a class="btn btn-primary" href="/solicitacaoServicos">Voltar</a>
							</div>
						</div>
					</div>



				</div>






			</div>

		</div>

		<div class="panel-footer">
			<div class="pull-right">
				@Tuning <strong>Para seu carro</strong> .
			</div>
			<div>
				<strong>Copyright</strong> A.S MotorSport &copy; 2018
			</div>
		</div>
		</div>

		<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content animated flipInY">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">Efetuar Pagamento</h4>
						<small class="font-bold">Para efetuar o recebimento das
							transações utilizamos a API disponibilizada pelo PagSeguro UOL.</small>
					</div>
					<div class="modal-body">
						<div id="collapseTwo" class="panel-collapse collapse in"
							aria-expanded="true" style="">
							<div class="panel-body">

								<div class="row">
									<div class="col-md-4">
										<h4>Solicitação de serviço</h4>

										<strong>Produto:</strong>: Ordem de serviço Nº <span
											th:text="*{solicitacaoServico_id}"></span> <br> <strong>valor:</strong><span
											th:text="*{valor}"></span>



									</div>
									<div class="col-md-8">

										<form role="form" id="payment-form">
											<input type="hidden" th:field="*{solicitacaoServico_id}"
												id="solicitacaoServico_id" />

											<div class="row">
												<div class="col-xs-8">
													<div class="form-group">
														<label>Número do Cartão</label>
														<div class="input-group">
															<input type="text" class="form-control" name="cartao"
																id="cartao" placeholder="Número válido do cartão"
																required=""> <span class="input-group-addon"><i
																class="fa fa-credit-card"></i></span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-8 col-md-8">
													<label>Data de validade</label>
													<div class="form-group">
														<div class="col-xs-6 col-md-6">
															<input type="text" class="form-control"
																name="validadeMes" id="validadeMes" placeholder="MM"
																required="">
														</div>
														<div class="col-xs-6 col-md-6">
															<input type="text" class="form-control"
																name="validadeAno" id="validadeAno" placeholder="YY"
																required="">
														</div>
													</div>
												</div>
												<div class="col-xs-4 col-md-4">

													<div class="form-group">
														<label>CVC</label> <input type="text" class="form-control"
															name="cvv" id="cvv" placeholder="CVC" required="">
													</div>

												</div>
											</div>
											<div class="row">
												<div class="col-xs-8">
													<div class="form-group">
														<label>Nome impresso no cartão</label> <input type="text"
															class="form-control" name="nameCard" id="nameCard"
															placeholder="NOME E SOBRENOME">
													</div>
												</div>
											</div>
											<!-- <div class="row">
											<div class="col-xs-12">
												<div id="validarCartao">
													<a class="btn btn-primary">Validar Cartão</a>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-xs-12">
												<div id="botaoComprar">
													<button class="btn btn-primary" type="submit">Processar
														Pagamento</button>
												</div>
											</div>
										</div> -->
										</form>

									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						
						<div id="validarCartao">
						<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
							<a class="btn btn-primary">Efetuar Pagamento</a>
										
						</div>
					</div>
				</div>
			</div>
		</div>



	</form>

</body>


<!-- <script type="text/javascript"> 
console.log("oi");
var carroAno = $('#car-years').data('ano');
var carroMarca = $('#car-makes').data('marca');
var carroModelo = $('#car-models').data('modelo');
var carroVersaoModelo = $('#car-model-trims').data('versao_modelo');
carquery.init(carroAno, carroMarca, carroModelo, carroVersaoModelo);
console.log(carroAno);
console.log(carroMarca);
console.log(carroModelo);
console.log(carroVersaoModelo);
</script> -->
<!-- Mainly scripts -->
<script src="../../js/jquery-2.1.1.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="../../js/plugins/flot/jquery.flot.js"></script>
<script src="../../js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="../../js/plugins/flot/jquery.flot.spline.js"></script>
<script src="../../js/plugins/flot/jquery.flot.resize.js"></script>
<script src="../../js/plugins/flot/jquery.flot.pie.js"></script>
<script src="../../js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="../../js/plugins/flot/curvedLines.js"></script>


 <!-- Sweet alert -->
    <script src="../../js/plugins/sweetalert/sweetalert.min.js"></script>

<!-- Peity -->
<script src="../../js/plugins/peity/jquery.peity.min.js"></script>
<script src="../../js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="../../js/inspinia.js"></script>
<script src="../../js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="../../js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Jvectormap -->
<script src="../../js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script
	src="../../js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Sparkline -->
<script src="../../js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="../../js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="../../js/plugins/chartJs/Chart.min.js"></script>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script  th:inline="javascript">
$("#pagarPayPal").click(	function() {
	
	
	  location.reload();

});
</script>

<script th:inline="javascript">
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'AcUszE4deJX7oa5FXzVBSPOlumL-WA36jB6QTPi_XWVPhdiWbK4o32CrUVQcv-Wb0J-NZQNB93hREUaJ',
     // production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'pt_BR',
    style: {
        label: 'credit',
        size:  'medium', // small | medium | large | responsive
        shape: 'rect',  // pill | rect
    },
    // Set up a payment
payment: function(data, actions) {
  return actions.payment.create({
    transactions: [{
      amount: {
        total: [[${solicitacaoServico.valor}]],
        currency: 'BRL',
        details: {
          subtotal: [[${solicitacaoServico.valor}]],
          tax: '0.00',
          shipping: '0.00',
          handling_fee: '0.00',
          shipping_discount: '0.00',
          insurance: '0.00'
        }
      },
      description: 'The payment transaction description.',
      custom: '90048630024435',
      //invoice_number: '12345', Insert a unique invoice number
      payment_options: {
        allowed_payment_method: 'INSTANT_FUNDING_SOURCE'
      },
      soft_descriptor: 'ECHI5786786',
      item_list: {
        items: [
        {
          name: 'Solicitação de Serviço Nº ' + [[${solicitacaoServico.solicitacaoServico_id}]],
          description: [[${solicitacaoServico.descricao}]],
          quantity: '1',
          price: [[${solicitacaoServico.valor}]],
          tax: '0.00',
          sku: '1',
          currency: 'BRL'
        }]
      }
    }],
    note_to_payer: 'Contact us for any questions on your order.'
  });
},
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
   
        console.log(data);
  
     
   			var fachadaTransacaoPayPal = {"solicitacaoServico_id" : [[${solicitacaoServico.solicitacaoServico_id}]],
 									   "orderID" : data["orderID"],
 									   "payerID" : data["payerID"],
 									   "paymentToken" : data["paymentToken"],
 									   "returnUrl" : data["returnUrl"]};  
       						
        
     
 		console.log('fachadaTransacaoPayPal',fachadaTransacaoPayPal); 
        $.ajax({
            type: 'POST',
            contentType : 'application/json; charset=utf-8',
            dataType : 'json',
            url: 'receberPagamento',
            async: true,
            data: JSON.stringify(fachadaTransacaoPayPal),
            success : function(data){
                // pegar a lista e montar os elementos
                console.log(data);
              if (data){  
                mensagemSucesso();
              }else{
            	  mensagemErro();
              } 
                
            }
        })

        .done(function() {
            console.log("success");
        })
        .fail(function() {
        	mensagemErro();
            console.log("error");
            mensagemErro();
        });
        
   
      });
    }
  }, '#paypal-button');

  function mensagemSucesso(){
		
		console.log("oi recebi a solicitação de pagamento");
		  swal({
		        title: "Pagamento Recebido",
		        text: "Recebemos seu pagamento!",
		        type: "success",
		        showCancelButton: false,
		        confirmButtonColor: "#6495ED",
		        confirmButtonText: "ok!",
		        closeOnConfirm: false
		    }, function () {
		    	location.reload();
		    });
	};
	function mensagemErro(){
		
		console.log("oi recebi a solicitação de pagamento");
		swal({
          title: "Erro ao processar pagamento!",
          text: "Houve erro no processo de pagamento!",
          type: "warning"
      });
	};
</script>


<script th:src="@{/js/plugins/pace/pace.min.js}"></script>
<script>
	$(document).ready(function() {
		$('.file-box').each(function() {
			animationHover(this, 'pulse');
		});
	});
	
	
	
</script>
</html>