<!DOCTYPE html>
<html>

<head>

    	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
#img-perfil{
    width: 25%;
}
</style>
</head>




        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header"  data-spy="affix">
            		
        </div>	 
    
       		 <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="true" data-target="#navbar" data-toggle="collapse" class="navbar-toggle" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
             
               <!--  <a href="#" class="navbar-brand">A.S MotorSport</a> -->
              
		 			<img  th:src="@{/images/logoChipTuning2.png}" class="img-responsive" width="230" height="70"  alt="Logo" /> 
			 	 </div>  
             
             </div>
        	<div class="navbar-collapse collapse in" id="navbar" aria-expanded="true" style="">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Ordem de Serviço <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/solicitacaoServicos">Solicitações de Serviço</a></li>
                            <li><a th:href="@{/solicitacaoServicos/novo}">Nova Solicitação de Serviço</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Downloads <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">Pesquisa de Arquivos</a></li>
                            <li><a href="/downloads">Navegação de Arquivos</a></li>
                      
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Preços <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a th:href="@{/solicitacaoServicos/precos}">Lista de Preços</a></li>
                       
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Configurações <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/perfil">Perfíl</a></li>
                            <li><a href="/perfil/dadosCartao">Dados de Pagamento</a></li>
               
                        </ul>
                    </li>

                </ul>
            <ul class="nav navbar-top-links navbar-right">
            	 <!-- <li>
					<img class="img-circle circle-border m-b-md" id='img-perfil' th:src="@{user.perfil.src_imagem_perfil == '' ? '/images/foto-perfil.jpg' : ${user.perfil.src_imagem_perfil}}"/>
              	</li> -->
                <li>
                    <span class="m-r-sm text-muted welcome-message" th:utext="${userName}"></span>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class="fa fa-sign-out"></i> Sair
                    </a>
                </li>
   
            </ul>
   		</div>
        
        
        </nav>
	

 	

    <script>
        $(document).ready(function() {


            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


        });
    </script>

</html>
