<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	

<div class="modal inmodal" id="confirmacaoExclusaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form th:action="@{'/solicitacaoServicos/excluir/?solicitacaoServico_id=' + ${solicitacaoServico_id}}"  method="POST" >
			<!--  <input type="hidden" name="_method" value="DELETE"/> -->
					
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>
				</div>
				
				<div class="modal-body">
					<span>Tem certeza que deseja apagar a solicitação de serviço número <span th:text="*{solicitacaoServico_id}"></span>?</span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</form>
	</div>
</div>
	
</html>

