<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	<meta Http-Equiv="Cache-Control" Content="no-cache"> 
  	<link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">

    <!-- Morris -->
    <link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet">

    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

	
<style>
.btn-file {
    overflow: hidden;
    text-align: center;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
 /*    display: block; */
} 

#img-upload{
    width: 70%;
}
</style>


</head>

<body class="top-navigation  pace-done" >

    <div class="row border-bottom">
		<header layout:include="Cabecalho"></header>
  	</div>
   	   	<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Meu Cadastro </h2>
                    <ol class="breadcrumb">
                    </ol>
                </div>
                <div class="col-lg-2">
								
                </div>
  	</div>
	<div class="row">

	<div class="col-lg-12">
      <div class="ibox-title">
    	      <h5>Editar Perfíl</h5>
      </div>
<!--       	<div class="ibox-content" style="display: block;">
    	<div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar Perfíl" ><i class="fa fa-pencil" ></i> </a>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
 		 </div>  --> 
     	<div class="ibox-content" style="display: block;">
 				<div class="ibox float-e-margins">
           
                        <div class="row">
                        
                        <form  class="form-horizontal" th:action="@{/perfil}" th:object="${user}"  method="POST" enctype="multipart/form-data">
                        
                        <div layout:include="MensagemGeral"></div>
						<div layout:include="MensagemErro"></div>
			

						<div class="panel panel-default">
	
						<div class="panel-body">
							
                        
                       		<div class="col-lg-2">
								<div class="col-md-12">
								    <div class="form-group">
										  <div class="ibox-content text-center" style="border-style:solid;border-width: 1px;">
													  <img class="img-circle circle-border m-b-md" id='img-upload' th:src="@{${bolPossuiFotoPerfil} ?  ${user.perfil.src_imagem_perfil} : '/images/foto-perfil.jpg'}"/>
								                            <div class="input-group">
								                             
													            <span class="input-group-btn">
													                <span class="btn btn-default btn-file">
													                      <i class="fa fa-edit"></i> Alterar <input type="file" id="imgPerfil" name="imgPerfil" hide>
													                </span>
													            </span>
													            <input type="hidden" id="path" class="form-control" readonly>
										    				</div>  
											</div>	    
								    </div>
								</div>
						 	</div>
						 	<div class="form-group">
						 	<h5>Informações Pessoais</h5>
						 	
						 	<div class="form-row">
							 	<div class="col-lg-8">
									<div class="col-md-4">
										<input type="hidden"   id="user_id"  th:field="*{user_id}"
											 class="form-control" /> 	 <label for="name" class="control-label">Nome</label>
			                                    <div><input type="text" id="name" class="form-control" th:field="*{name}"></div>
									  </div>
									
									<div class="col-md-4">
	                               		 <label for="sobreNome" class="control-label">Sobre-Nome</label>
	                                    <div><input type="text" id="sobreNome" class="form-control" th:field="*{lastName}"></div>
									  </div>
									</div>
									
							</div>		
							<div class="form-row">
							<div class="col-lg-8">
								<div class="col-md-4">
									<label for="email" class="control-label">E-mail</label>
									 <div><input type="text" id="email" class="form-control" th:field="*{email}" disabled></div>
								</div>
								<div class="col-md-1">
									<label for="Telefone" class="control-label">DDD</label>
									 <div><input type="text" id="codigoArea" class="form-control" th:field="*{perfil.codigoArea}"></div>
								</div>		
								<div class="col-md-4">
									<label for="Telefone" class="control-label">Telefone</label>
									 <div><input type="text" id="telefone" class="form-control" th:field="*{perfil.telefone}"></div>
								</div>		 
							</div>
							</div>  
							</div>
							
						 	<h5>Dados da Empresa</h5>
						 	<div class="form-row">
							 	<div class="col-lg-10">
									<div class="form-group">
											<div class="col-md-4">							
											<label for="nomeEmpresa" class="control-label">Nome da Empresa</label>
		                                    <div><input type="text" class="form-control" th:field="*{perfil.nome_empresa}"></div>
		                                </div>
		                                <div class="form-group">
		                                	<div class="col-md-4">
		                                	<label class="control-label" >Cargo na Empresa</label>
		                                    <div"><input type="text" class="form-control" th:field="*{perfil.cargo_empresa}"></div>
		                                </div>
		                                <div class="form-group">
		                                <div class="col-md-2">
		                                	<label class="control-label" >CNPJ</label>
		
		                                    <div><input type="text" class="form-control" data-mask="99.999.999/9999-99" th:field="*{perfil.cnpj}"></div>
		                                </div>
										
										<div class="col-md-2">
		                                	<label class="control-label" >CPF</label>
		
		                                    <div><input type="text" class="form-control" data-mask="999.999.999-99" th:field="*{perfil.cpf}"></div>
		                                </div>
		
										
													                                
		                              					
										 <input type="hidden"   id="perfil_id"  th:field="*{perfil.perfil_id}"
										placeholder="" class="form-control" /> 
										
										 <input type="hidden"   id="perfil_id"  th:field="*{email}"
										placeholder="" class="form-control" />
										
										 <input type="hidden"   id="src_imagem_perfil"  th:field="*{perfil.src_imagem_perfil}"
										placeholder="" class="form-control" /> 
		                              
		                      <!--           <input type="hidden"   id="senha"  th:field="*{password}"
										placeholder="Senha" class="form-control" /> -->
		                                
		                                
									</div>
							 	</div>
							 </div>
							</div>
							</div>
							 <div class="form-row">
							 	<div class="col-lg-10">
							 	<div class="form-group">
							 		<div class="col-md-8">
							 		<label class="control-label">Endereço da Empresa</label>
		                                <div ><input type="text" class="form-control" th:field="*{perfil.endereco_empresa}"></div>
		                             </div>
								</div>
							 <div class="form-row">	
							    <div class="form-group">
											<div class="text-right"> 
												<button type="submit" class="btn btn-primary">Salvar</button>
											</div>	
								</div>	          
							 </div>	               
							 </div>
							
							 </div>	 
							 	
						</div>
						</div>	 
		                </form>     
                        </div>
                        </div>
                </div>
          </div> 
        </div>    
              <div class="panel-footer">>
           <div class="pull-right">
              @Tuning <strong>Para seu carro</strong> .
           </div>
           <div>
               <strong>Copyright</strong> A.S MotorSport &copy; 2018
           </div>
       </div>
		</div>

	 


</body>
 <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>


    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
 <script>
    $(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':path'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgPerfil").change(function(){
		    readURL(this);
		}); 	
	});
</script>
</html>