<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<head>
	<meta Http-Equiv="Cache-Control" Content="no-cache"> 
  	<link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">

    <!-- Morris -->
    <link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet">

    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body class="top-navigation  pace-done">

    <div class="row border-bottom">
		<header layout:include="Cabecalho"></header>
  	</div>
   	   	<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Meu Cadastro </h2>
                    <ol class="breadcrumb">
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
  	</div>
	
<div class="row">

	<div class="col-lg-12">
      <div class="ibox-title">
    	      <h5>Perfíl</h5>
      </div>
    	<div class="ibox-content" style="display: block;">
    	<div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar Perfíl" th:href="@{/perfil/{user}(user=${user.user_id})}" ><i class="fa fa-pencil" ></i> </a>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                </div>
 		 </div>  	
    	
    	<div class="panel panel-default">
			
					<div class="panel-body">
						<div class="profile-image">
							<img class="img-circle circle-border m-b-md" id='img-upload' th:src="@{${bolPossuiFotoPerfil} ?  ${user.perfil.src_imagem_perfil} : '/images/foto-perfil.jpg'}"/>
						</div>
						<div class="profile-info">
							<div class="">
								<div>
									<h2 class="no-margins">
										<span th:utext="${user.name} + ' ' + ${user.lastName}"></span>
									</h2>
									<h4><span th:utext="${user.perfil.cargo_empresa}"></span></h4>
									<small>
										Mantenha seu cadastro sempre atualizado !
									</small>
								</div>
							</div>
						</div>
						
						 <div class="col-md-3">
                    <table class="table small m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong>Email:</strong> <span th:utext="${user.email}"></span>
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>Telefone:</strong> <span th:utext="'(' + ${user.perfil.codigoArea} + ')' + ${user.perfil.telefone}"></span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Nome da Empresa</strong> <span th:utext="${user.perfil.nome_empresa}"></span>
                            </td>
                        </tr>
                           <tr>
                        	<td>
                                <strong>CNPJ:</strong> <span th:utext="${user.perfil.cnpj}"></span>
                            </td>
						  </tr>
						  <tr>
                        	<td>
                                <strong>CPF:</strong> <span th:utext="${user.perfil.cpf}"></span>
                            </td>
						  </tr>
                        <tr>                       
                            <td>
                                <strong>Endereço da Empresa</strong> <span th:utext="${user.perfil.endereco_empresa}"></span>
                            </td>
                        </tr>
                     
                        </tbody>
                    </table>
                </div>
	
			</div>
			</div>
			</div>
			<div class="panel-footer">
           <div class="pull-right">
              @Tuning <strong>Para seu carro</strong> .
           </div>
           <div>
               <strong>Copyright</strong> A.S MotorSport &copy; 2018
           </div>
       		</div>
			
			</div>
		
	



</div>

</body>
 <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>


    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>


</html>