<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Criar uma conta.</title>
 	 <meta charset="utf-8">
 	 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>A.S MotorSport</title>
    
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
	 <div class="middle-box text-center loginscreen animated fadeInDown">
 	<div>
       <div>
		
			<div class=" col-md-12 ">
		 		<img  th:src="@{/images/logoChipTuning2.png}" class="img-responsive" width="500" height="120"  alt="Logo" /> 
			 </div>  
		 <h3>Enviar Senha Para o Email Cadastrado?</h3>
		<P></P>	
		</div>		
		
								<form autocomplete="off" action="#" th:action="@{/registration}"
								th:object="${user}" method="post"   class="form-signin"	role="form" onsubmit="return validarSenha()">
								<br/>
							
										<br/>
											<input type="email" th:field="*{lastName}"
												placeholder="Sobre Nome" class="form-control" /> 
										<br/>
										<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message">
										</label>
										<input type="text" th:field="*{email}" placeholder="Email"
												class="form-control" disabled /> 
										<br/>
								
										
										<button type="submit" class="btn btn-primary btn-block">Enviar</button>
									
										<span th:utext="${successMessage}"></span>
								
								</form>
						   	<div layout:include="DialogoInformar"></div>
			
				
					

</div>
  
</div>

<script>
/* $(document).ready(function(){
    $("#myBtn").click(function(){
        $("#informar").modal();
    });
}); */
</script>

</body>
</html>
<script>


function validarSenha(){
	
	NovaSenha = $("#password").val();
    CNovaSenha = $("#passwordConfirm").val(); 
    $("#informar").modal();
    
    if (NovaSenha != CNovaSenha){ 
    	
         alert("SENHAS DIFERENTES!\\nFAVOR DIGITAR SENHAS IGUAIS");
         return false;
    }
    return true;
    
    
    

}


</script>

</body>
</html>